    <nav id="sidebarMenu" class="sidebar d-md-block bg-primary text-white collapse px-4">
        <div class="sidebar-sticky pt-3 mx-auto">
            <div class="user-card d-flex d-md-none align-items-center justify-content-between justify-content-md-center pb-4">
            <div class="d-flex align-items-center">
                <div class="user-avatar lg-avatar mr-4">
                <img src="/static/assets/img/team/profile-picture-3.jpg" class="card-img-top rounded-circle border-white" alt="Avatar">
                </div>
                <div class="d-block">
                <h2 class="h6">{{ request.user.username }}</h2>
                <a href="{% url 'logout' %}" class="btn btn-secondary text-dark btn-xs">
                    <span class="fas fa-sign-out-alt mr-1"></span>Đăng xuất
                </a>
                </div>
            </div>
            <div class="collapse-close d-md-none">
                <a href="#sidebarMenu" class="fas fa-times" data-toggle="collapse"
                    data-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="true"
                    aria-label="Toggle navigation"></a>
            </div>
            </div>

            <ul class="nav flex-column">
            <li class="nav-item {% if segment == 'my_bookings' %} active {% endif %}">
                <a href="{% url 'my_bookings' %}" class="nav-link">
                    <span class="sidebar-icon"><span class="fas fa-box"></span></span>
                    <span>Ngăn của tôi</span>
                </a>
            </li>

            {% if request.user.is_staff %}
            <li class="nav-item {% if segment == 'manage_lockers' %} active {% endif %}">
                <a href="{% url 'manage_lockers' %}" class="nav-link">
                    <span class="sidebar-icon"><span class="fas fa-th-large"></span></span>
                    <span>Quản lý tủ</span>
                </a>
            </li>
            {% endif %}

            <li role="separator" class="dropdown-divider mt-3 mb-3 border-black"></li>

            <li class="nav-item">
                <a href="{% url 'logout' %}" class="nav-link">
                    <span class="sidebar-icon"><span class="fas fa-sign-out-alt text-danger"></span></span>
                    <span>Đăng xuất</span>
                </a>
            </li>

            </ul>
        </div>
    </nav>
